/* ESTILOS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root{
    --color-shadowDark:rgba(0, 0, 0, 0.137);
    --tech-stack-box-first-color:#c6c4c42f;
    --tech-stack-box-second-color:rgba(146, 146, 155, 0);
    --tech-stack-box-border-color: #f6f6f648;
}


/*BARRA DE ROLAGEM*/
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #0a0a10;
}
::-webkit-scrollbar-thumb{
   background-color: #8000ff;
   /* border-radius: 20px; */

}

/*função de rolagem*/
html {
    scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
    /*min-height: 100vh;*/
    background: linear-gradient(#041833,#04244F,#154580);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*BARRA DO MENU*/
.cabecalho {
    display: flex;
    align-items: center;
    background: linear-gradient(#041833,#04244F,#154580);
    justify-content: center; /* Alinha itens à esquerda */
    margin-left: 7% ;
    margin-top: 0.5% ;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 85%; /* Opcional: define um limite máximo de largura */
    z-index: 1100;
    border-radius: 60px; /* Arredonda as pontas da barra */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para efeito 3D */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda clara para destaque */
    
}

@media (max-width: 768px) {
    .cabecalho {
        border-radius: 0; /* Ajusta para telas pequenas */
        justify-content: space-between; /* Ajuste para melhor visualização */
        padding: 0 20px;
    }
}

/*LOGO DO MENU*/
.logo-container {
    position: relative;
    width: 80px;
    height: 100px;
}

.logo {
    position: absolute;
    top: 0;
    left: 200%;
    transition: opacity 0.2s ease-in-out; /* Aumenta a velocidade da transição */
}

.logo-hover {
    opacity: 0; /* Oculta a segunda logo inicialmente */
    top: 5px; /* Ajuste o valor conforme necessário para descer a imagem */
}

.logo-container:hover .logo-principal {
    opacity: 0; /* Faz a primeira logo desaparecer mais rápido */
}

.logo-container:hover .logo-hover {
    opacity: 1; /* Faz a segunda logo aparecer mais rápido */
}

.cabecalho img {
    margin-right: 10px;
    margin-left: 20px;
    padding: 0;
}

/*MENU*/
.cabecalho__menu {
    display: flex;
    flex-direction: row; /* Mantém os itens em linha */
    gap: 10px; /* Espaço entre os itens */
    margin-right: auto; /* Empurra o menu para o lado esquerdo */
    margin-left: 250px;
    margin-top: 0;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;
    padding: 5px 10px; /* Ajustei o padding para dar mais espaço */
    text-decoration: none;
    white-space: nowrap;
}

/* Ajuste a margem superior ao rolar para as seções */
#home {
    scroll-margin-top: 110px; /* Ajuste esse valor conforme a altura do cabeçalho */
    padding-bottom: 10px;
}

#sobre-mim {
    scroll-margin-top: 5px; /* Ajuste esse valor conforme a altura do cabeçalho */
    padding-bottom: 10px;
}

#projetos {
    scroll-margin-top: 5px; /* Ajuste esse valor conforme a altura do cabeçalho */
    padding-bottom: 10px;

}

/* Estilo para a seção geral */
.apresentacao {
    padding-left: 20%; /* Espaço à esquerda para mover o conteúdo para o centro */
    margin-top: 150px; /* Espaço acima para iniciar a seção abaixo do cabeçalho */
}

.grid-container {
    display: grid; /* Torna o contêiner um grid container */
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas iguais */
    gap: 50px; /* Espaço entre as colunas */
    padding-bottom: 30px;
    position: relative;
}

/* Estilo para cada item no grid */
.grid-item {
    padding: 0; /* Espaço interno das divs */
    padding-top: 150px;
    max-width: 800px; /* Define uma largura máxima para o conteúdo */
    position: relative;
}

/* Estilo específico para a seção Home /////////////////////////////////////////////////////////////////////////////////*/
.home .apresentacao__conteudo__titulo_home {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    line-height: 1.4; /* Espaçamento entre linhas */
    color: #F6F6F6;
}

.home .titulo-destaque_home {
    color: #22D4FD;
}

.home .apresentacao__conteudo__paragrafo_home {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px; 
    line-height: 1.1; /* Espaçamento entre linhas */
    text-align: justify; /* Justifica o texto */
    padding: 0; /* Remove o espaço interno das divs */
    color: #F6F6F6;
}

.home .apresentacao__links_home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.home .apresentacao__links__link_home {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 90%; /* Ajusta a largura para ocupar 100% */
    max-width: 378px;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    padding: 15.5px 1px; /* Espaço interno do link */
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.home .apresentacao__links__link_home:hover {
    background-color: #96b7f36b;
    padding: 15px 0; /* Aumenta o espaço interno ao passar o mouse (ajuste conforme necessário) */
}

.home .apresentacao_img_home {
    padding-top: 110px; /* Espaço interno das divs */
    padding-left: 50px;
    margin: 0;
}

/* Estilo específico para a seção Sobre mim////////////////////////////////////////////////////////////////////////////////////////////// */
.sobremim {
    position: relative;
    padding-top: 100px; /* Espaço acima para iniciar a seção abaixo da Home */
    margin-bottom: 206px; /* Espaço abaixo do contêiner */
}

.btn {
    width: 120px;
    height: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #F6F6F6;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    z-index: 2;
    font-weight: bold;
}

.janela-modal {
    display: none;
    position: absolute; /* Posiciona a modal em relação à viewport */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a modal */
    /* ... outros estilos ... */
  }
  
  
  .janela-modal.abrir {
    display: flex;
  }

.modal{
    margin-top: 60%;
    margin-right: 100px;
    min-width: 450px;
    min-height: 400px;
    background: #81d6fa3b;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius:20px;
}

.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    background-color: #f54b4bd2;
    color: #F6F6F6;
    font-size: 20px;
    cursor: pointer;
}

.sobremim .apresentacao__conteudo__titulo_sobremim {
    
    font-size: 30px; /* Tamanho da fonte para a seção Sobre mim */
    color: #F6F6F6;
    font-family: "Krona One", sans-serif;
    line-height: 1.4; /* Espaçamento entre linhas */
    
}

.sobremim .apresentacao__conteudo__titulo1_sobremim {
    font-size: 20px; /* Tamanho da fonte para a seção Sobre mim */
    color: #F6F6F6;
    font-family: "Krona One", sans-serif;
    line-height: 1.4; /* Espaçamento entre linhas */
    
}

.sobremim .apresentacao__conteudo__paragrafo_sobremim {
    font-size: 22px; /* Tamanho da fonte para a seção Sobre mim */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px; 
    margin-bottom: 20px;
    line-height: 1.1; /* Espaçamento entre linhas */
    text-align: justify; /* Justifica o texto */
    padding: 0; /* Remove o espaço interno das divs */
}

.sobremim .apresentacao__links_sobremim {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.sobremim .apresentacao__links__link_sobremim {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 90%; /* Ajusta a largura para ocupar 100% */
    max-width: 378px;
    font-size: 22px; /* Tamanho da fonte para a seção Sobre mim */
    text-align: center;
    border-radius: 8px;
    padding: 15px 1px; /* Espaço interno do link */
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.sobremim .apresentacao__links__link_sobremim:hover {
    background-color: #96b7f36b;
    padding: 15px 0; /* Aumenta o espaço interno ao passar o mouse (ajuste conforme necessário) */
}

/*LINHA DO TEMPO FORMAÇÃO///////////////////////////////////////////*/

.timeline {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    list-style: none;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 90px;
    bottom: 68px;
    left: 45px;
    width: 3px;
    background-color: #81d6fa;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding-left: 50px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 22px;
    top: 45px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #81d6fa;
}

.timeline-date {
    font-weight: bold;
    margin-bottom: 5px;
    color: #F6F6F6;
    font-size: 17px;
}

.timeline-content {
    padding: 10px 15px;
    background-color: #c6c4c445;
    border-radius: 5px;
    box-shadow: 0 2px 4px #F6F6F6;
    color: #F6F6F6;
}

.curso {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 17px;
}

.h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #81d6fa;
    font-weight: 600;
}

.sobremim .apresentacao_img_sobremim {
    position: relative; 
    padding:20px;    
}

.apresentacao_img_sobremim img {
    position:relative;
    z-index: 1; 
}


.frontend-dev-heading{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    height: 100px;
    letter-spacing: 5px;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lista{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 75px;
    margin-left: 45px;

}
.lista_box{
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right,var(--tech-stack-box-first-color), var(--tech-stack-box-second-color));
    border: 1px solid var(--tech-stack-box-border-color);
    box-shadow: 0px 10px 20px var(--color-shadowDark); 
    position: relative;
}
.lista_box img{
    width: 70%;
}
.lista_box:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
.tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    color: white;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-weight: 500;
}

.section-heading{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-heading-article{
    font-size:3rem;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*seção PROJETOS*/
.projetos {
    position: relative;
    padding-top: 250px; /* Espaço acima para iniciar a seção abaixo da Home */
}

.projects-section-container{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.projects-section-div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-heading{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.projects-heading-article{
    font-size:3rem;
    font-family: fira code;
    font-weight: 500;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projectsHeadingP{
    width: 300px;
    height: 1px;
    background-image: -webkit-gradient(linear,left top,right top,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: -webkit-linear-gradient(left,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
    background-image: linear-gradient(90deg,var(--static-heading-gradient-blue),var(--static-heading-gradient-pink));
}

.project-boxes-div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-top: 80px;
    
}
.project-box-wrapper{
    width: 100%;
}
.project-box{
    /* background-color: rgba(255, 255, 255, 0.005); */
    background-image: linear-gradient(to bottom right, var(--tech-stack-box-first-color),var(--tech-stack-box-second-color));
    width: 70%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: .3s;
    position: relative;
    border-radius: 30px;
    border: 1px solid var(--tech-stack-box-border-color);
    overflow: hidden;
}

.info-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0 40px;
}
.faviconforProject{
    width: 30px;
    border-radius: 50%;
}
.faviconforProjectAquaregia{
    width: 20px;
}
.image-div{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding-top: 70px;
    padding-left: 10px;
   
}
.image-div img{
    height: 100%;
    border-top-left-radius:30px;
}
.ProjectHeading{
    color: var(--color-white);
    font-size: 3.4rem;
    font-weight: 700;
}
.ProjectDescription{
    color: gray;
    font-size: 1.7rem;
    font-weight: 400;
}
/* Project visit button */
.project-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.github-redirect{
 text-decoration: none;    
 width: 50px;
}
.github-redirect img{
    width: 45px;
    height: auto;
    transition: all .3s;
    filter: brightness(2);
}
.github-redirect:hover img{
    filter: brightness(4);

}
.h2 {
    font-size:3rem;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    color: #F6F6F6;
    
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}